[Unit]
Description=MCU Bus Daemon
After=network.target

[Service]
WorkingDirectory=/home/hiro/plant-care
EnvironmentFile=/home/hiro/plant-care/mcu-bus-daemon/.env
ExecStart=/usr/bin/env uv run --package mcu-bus-daemon mcu-bus-daemon --channel can0 --bitrate 500000
Restart=always
RestartSec=2

User=hiro
Group=hiro

[Install]
WantedBy=multi-user.target
