[Unit]
Description=MCU Bus Daemon
After=network.target

[Service]
EnvironmentFile=/home/hiro/plant-care/mcu-bus-daemon/.env
ExecStart=/usr/bin/python3 -m mcu_bus_daemon
Restart=always
RestartSec=2

User=hiro
Group=hiro

[Install]
WantedBy=multi-user.target