[Unit]
Description=Monitor Daemon (Temperature & Humidity)
After=network.target

[Service]
Type=simple

User=hiro
Group=hiro

# Define working directory
WorkingDirectory=/home/hiro/plant-care/monitor-daemon

# Use python in venv
ExecStart=/home/hiro/plant-care/monitor-daemon/.venv/bin/python main.py

# Define envs
Environment=PYTHONPATH=/home/hiro/plant-care/monitor-daemon/src
Environment=HTTP_HOST=0.0.0.0
Environment=HTTP_PORT=8001
Environment=SENSOR_BACKEND=sht31
Environment=DB_PATH=data/dev.sqlite3

Restart=always
RestartSec=5

# systemd security
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
